- var devLink = isDev ? '' : '.html'
footer.footer
	div.container
		div.row
			div.col-sm-2.col-md-2.col-md-offset-1
				h4.text-primary.footer__heading About Us
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('about-en', 'About KVB')
					li: +link('legal-supervision-en', 'Accreditation')
					li: +link('join-us-en', 'Join Us')
			div.col-sm-3.col-md-2
				h4.text-primary.footer__heading Product & Services
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('international-pay-en', 'Global Payment')
					li: +link('foreign-exchange-process-en', 'Corporate FX Management')
					li: +link('foreign-exchange-solution-en', 'Cross-Border e-Commerce Solution')
					li: +link('fintech-en', 'Fin-Tech Solution')
					li: +link('wealth-management-en', 'Wealth Management')
					li: +link('product-en', 'Fund,Insurance and Physical Gold')
			div.col-sm-2.col-md-2
				h4.text-primary.footer__heading Online Platform
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('#', 'Online Account Opening')
					li: +link('#', 'eFX Login')
					li: +link('#', 'KVBPay Login')
					li: +link('download-app-en', 'App Download')
			div.col-sm-3.col-md-2
				h4.text-primary.footer__heading KVB Research
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('#', 'FX World')
					li: +link('monthly-news-en', 'Market Digest Magazine')
			div.col-sm-2.col-md-2
				h4.text-primary.footer__heading Customer Support
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('contact-en', 'ContactUs')
					li: +link('downloads-en', 'Resources Download')
					li: +link('faq-en', 'FAQ')
		div.footer__copyright.copyright
			div.row
				div.col-md-8.col-md-offset-2.text-muted
					h4.text-center.copyright__heading © KVB Kunlun Global Capital Limited. Disclosures
					p.copyright__description No warranty is made to the contents of this website as to the accuracy, reliability or completeness and this document/presentation is not to be construed as financial or investment advice or a solicitation or an offer to acquire any financial products or services. It was prepared without taking into account your individual objectives, financial situation, needs, experience or capacity to bear loss. The risk of loss in securities trading and leveraged foreign exchange, CFD’s and other derivatives trading can be substantial and result in losses that exceed your initial deposit. You should consider whether it is appropriate to you, having regard to your objectives, financial situations and needs and if necessary, seek appropriate professional advice. Not all of the products and services are offered each at our subsidiaries. Please contact our customer service representative for more information
