- var devLink = isDev ? '' : '.html'
footer.footer
	div.container
		div.row
			div.col-sm-2.col-md-2.col-md-offset-1
				h4.text-primary.footer__heading 企業情報
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('about-jp', 'KVBについて')
					li: +link('legal-supervision-jp', '認定ライセンス')
					li: +link('join-us-jp', '採用情報')
			div.col-sm-3.col-md-2
				h4.text-primary.footer__heading 商品とサービス
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('international-pay-jp', '外国送金')
					li: +link('fintech-jp', '金融テクノロジー')
					li: +link('wealth-management-jp', '資産運用')
			div.col-sm-2.col-md-2
				h4.text-primary.footer__heading オンライン取引プラットフォーム
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('#', 'オンライン口座開設')
					li: +link('#', 'eFX ログイン')
					li: +link('#', 'KVBPay ログイン')
					li: +link('download-app-jp', 'アプリダウンロード')
			div.col-sm-3.col-md-2
				h4.text-primary.footer__heading KVBリサーチ
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('#', 'FXワールド')
					li: +link('monthly-news-jp', 'マーケットダイジェスト誌')
			div.col-sm-2.col-md-2
				h4.text-primary.footer__heading カスタマーサポート
					+icon('down')
				ul.list-unstyled.footer__links
					li: +link('contact-jp', 'お問い合わせ')
					li: +link('downloads-jp', '資料ダウンロード')
					li: +link('faq-jp', 'よくあるご質問')
		div.footer__copyright.copyright
			div.row
				div.col-md-8.col-md-offset-2.text-muted
					h4.text-center.copyright__heading © KVB Kunlun Global Capital Limited. 免責事項
					p.copyright__description 当社のウェブサイトについては、その正確性・信頼性・網羅性に関し何らの保証も致しません。なお、本文書の提示が書面であれ口頭であれ、金融・投資に関する助言・勧誘、あるいは何らかの金融商品または金融サービスの購入を薦めるものと解釈することは出来ません。本文書は、個々の顧客の投資目的・経済状況・ニーズ・経験・損失許容限度を考慮せずに作成されたものです。証券取引、レバレッジ使用の外国為替取引、CFDその他の金融派生商品の取引により損失を被るリスクは甚大で、顧客の当初投資金を超える恐れがあります。顧客は、自己の投資目的・経済状況・ニーズに鑑み、個々の金融商品が自分にとって適切なものであるかを熟慮し、必要に応じて専門家の助言を求められるよう勧めます。当社の各支社は、すべての金融商品・金融サービスを提供しているとは限りません。詳細は、当社のサービス窓口にお問い合わせください。
