extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/company-news/banner-market-insight.jpg`, '公司新闻')(class="with-dropdown")
		div.dropdown
			button#yearSelect.btn.btn-block.dropdown-toggle.simple(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
				span.contact-form__selected 2017 年
				span.caret: +icon('down', 'white')
			ul.dropdown-menu(aria-labelledby="yearSelect")
				li: a 2016 年
				li: a 2015 年
				li: a 2014 年
	div.news
		+cardSection('gray')(class="grid-stack--basic-mobile")
			+card-2-1(0, 0, '2016年9月1日', '新征程，新未来，隆重介绍KVB Global Markets有限公司','right')
				p.description.grid-stack__description
					| 在过去8年中，我们位于新西兰及澳大利亚的KVB FX Ltd及KVB FX Pty Ltd两家公司从提供全面外汇兑换业务开始，加速扩大并成为全球性金融投资产品及服务...
			+card-2-1(0, 1, '2015年11月13日', 'KVB昆仑国际环球资本有限公司悉尼年会圆满召开','left')(style=`background-image: url(https://www.kvbgc.com//assets/Uploads/news/images/_resampled/SetWidth810-SetWidth810-2015-11-39.jpg)`)
				p.description.grid-stack__description
					| 2015年11月6日（周五）至11月8日（周日），KVB昆仑国际环球资本有限公司（KVB Kunlun Global Capital Limited, 以下简称GC）2015年度会议在悉尼召开...
			+card-1-2(2, 0, '2015年9月28日', 'KVB昆仑国际：第十四届亚太金融高峰论坛唯一获奖全球外汇交易商')(style=`background-image: url(https://www.kvbgc.com/assets/Uploads/news/images/_resampled/SetWidth810-2015-7-2-1-2.jpg)`)
				p.description.grid-stack__description
					| 2015年7月18日至19日，由国际商会中国国家委员会、中国金融出版社、中国保险学会、亚太金融投资协会联合主办的第十四届亚太金融高峰论坛暨九鼎财富...
			+card-1-2(0, 2, '2015年9月28日', '昆仑国际拓展互利共赢的机构合作伙伴关系')(style=`background-image: url(https://www.kvbgc.com/assets/Uploads/news/images/_resampled/CroppedImage358215-2015-7-1-1-2.jpg)`)
				p.description.grid-stack__description
					| 2015年，KVB昆仑国际牢牢把握发展新契机，以更雄厚的实力面对即将开启的外汇蓝海！ 7月16日，KVB昆仑国际与上海中期期货有限公司正式签署战略合作协议...
			+card-2-1(1, 2, '2015年9月28日', '台湾辅仁大学学生访问KVB昆仑国际香港总部','right')(style=`background-image: url(https://www.kvbgc.com/assets/Uploads/news/images/_resampled/SetWidth810-2015-6-2.jpg)`)
				p.description.grid-stack__description
					| 6月30日（星期二），KVB昆仑国际的香港办公室，迎来了一批特别的客人：17位来自台湾辅仁大学经济系大二、大三学生在老师的带领下，特赴KVB昆仑国际香港...
			+card-2-1(1, 3, '2015年9月28日', 'KVB昆仑国际受邀参加Think Asia, Think Hong Kong活动晚宴','left')(style=`background-image: url(https://www.kvbgc.com/assets/Uploads/news/images/_resampled/SetWidth810-2015-6-002-2.jpg)`)
				p.description.grid-stack__description
					| 作为加拿大知名华人换汇机构，KVB昆仑国际于6月8日（星期一）晚上受邀参加了香港贸发局在加拿大Liberty Grand举办的Think Asia, Think Hong Kong...
	section.section.section--gray.loading-more__outline
		div.loading-more__area
			button.loading-more__btn 载入更多
