extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/expert-column/banner-market-insight.jpg`, '专家专栏')
	section.section.section--gray
		div.container
			div.row
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月17日
						h3.white-card__title 苏志恒：「四面楚歌」金价「整装待发」！
						p.white-card__des.description 在周一的外汇市场上，美元呈反弹后继续下跌的走势，美元指数最高上涨到93.58，最低下跌到93.00，收盘在93.09。欧美最高上涨到⋯
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月22日
						h3.white-card__title 田洪良：朝鲜局势再次升温，美元承压下跌
						p.white-card__des.description 在周一的外汇市场上，美元呈反弹后继续下跌的走势，美元指数最高上涨到93.58，最低下跌到93.00，收盘在93.09。欧美最高上涨到⋯
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月22日
						h3.white-card__title 孙建发：风险资产得以抛售 金价蓄力再冲千三
						p.white-card__des.description 隔日美盘市场流传一条Twitter上未经证实的劲爆传言：特朗普首席经济顾问、白宫国家经济委员会主任Gary Cohn辞职，美元短线走低。
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月15日
						h3.white-card__title 孙建发：风险资产得以抛售 金价蓄力再冲千三
						p.white-card__des.description 隔日美盘市场流传一条Twitter上未经证实的劲爆传言：特朗普首席经济顾问、白宫国家经济委员会主任Gary Cohn辞职，美元短线走低。
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月15日
						h3.white-card__title 李生论金：黄金守住1280多不变，原油47.5下方空即可
						p.white-card__des.description 在不幸的源头，总有一些意外，在幸福的源头，总有一些巧合，等待需要的不一定是时间，而是为此坚持的信念，要有一个说明自己的理由⋯
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月17日
						h3.white-card__title 陈家俊：突发！特朗普解散两大顾问委员会，黄金多头大反转！
						p.white-card__des.description 国际现货黄金周三亚市开于1271.38美元/盎司后，金价短暂上涨后盘整，波幅狭窄。
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月22日
						h3.white-card__title 陈家俊：西班牙巴萨罗那遭空袭，避险引爆金价行情！
						p.white-card__des.description 国际现货黄金周四开于1282.84美元/盎司后，金价短暂下挫后转上攻，冲高后回落转盘整，金价窄幅波动，市场较为谨慎，录得⋯
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月17日
						h3.white-card__title 李生论金：特朗普“嘴炮”引发避险，金价面临1296压力
						p.white-card__des.description 青春是用来犯错的，而成熟是用来改错的，大胆的假设，小心的求证，认真的分析，准确的策略。
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
				div.col-sm-6.col-md-4
					div.white-card
						h4.white-card__sub-title.description 2017年08月17日
						h3.white-card__title 陈家俊：美朝局势恶化，避险引爆黄金剑指千三
						p.white-card__des.description 国际现货黄金周四亚市开于1277.38美元/盎司后，短暂下行，录得日内低点1274.53美元/盎司后转震荡上行。
						div.white-card__btn
							+readmore__outer('详情', 'blue', '', 'http://www.kvbfinance.com/Info.aspx?id=b6fea07e-ee09-411e-95f7-81248c37e71d')
		+pagination(7)
