doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
		title KVB 昆仑国际
		- var imgPath = isDev ? 'img' : './assets/img'
		link(rel="icon" type="image/x-icon" href=`${imgPath}/favicon.png`)
		if(!isDev)
			each filename in htmlWebpackPlugin.files.css
				link(rel="stylesheet" href=filename)
	body
		include components/navbar
		block content
		include components/footer
	
		block templates
		if(isDev)
			script(src="vendor.bundle.js")
			script(src="main.bundle.js")
		else
			each filename in htmlWebpackPlugin.files.js
				script(src=filename)
		block script
