extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/privacy/policy-herobanner.jpg`, '免责及隐私声明')
	section.section
		div.container
			+styledHeading('免责条款', false)
			div.row
				p.description.col-md-12
					| 昆仑国际环球资本有限公司旗下分支机构为：KVB Global Markets Ltd （新西兰）， KVB Global Markets Pty Ltd（澳大利亚悉尼及墨尔本），KVB Kunlun (Canada) Inc.（加拿大）以及KVB Kunlun Trading (Hong Kong) Ltd。 昆仑国际环球资本有限公司收集相关客户信息及文件是为应新西兰、澳大利亚、加拿大及香港当地反洗钱及反恐怖主义融资法案之相关要求进行信息登记所用。按照新西兰隐私法（1993）、澳大利亚隐私法（1998），加拿大个人信息保护与电子文件法及相关省级法律，我们将采取合理的措施保护隐私免受未经授权的访问或使用，在未经您的同意情况下我们将不会透露您的任何个人信息至第三方除了履行我们之间客户服务协议、业务运营以及遵守法律和监管要求。网页内容提供之市场信息仅供参考，并不构成投资建议。所有数据、价格及意见均随时变更而不作另行通知。文中某些投资产品，信息和推广计划并不适于KVB昆仑国际所有公司，请与所在国家或地区的KVB昆仑国际代表作出查询。点击下一步将被认为您已经阅读并接受上述声明。
	section.section.section--no-top-spacing
		div.container
			+styledHeading('隐私政策', false)
			div.row
				p.description.col-md-12
					| 尊重个人私隐和保密是KVB昆仑国际一贯的政策。本＜隐私政策＞列出KVB昆仑国际在阁下登入本网站时处理阁下资料的方式。KVB昆仑国际需要收集某些资料从而提供金融服务和不时满足阁下在客户服务的需要，所需资料包括但不限于阁下的名字、出生日期、地址、电邮地址、电话号码、身份证明文件资料、收入和受雇情 况。KVB昆仑国际的网络服务供应商亦可能在阁下登入本网站时记下阁下资料，包括但不限于阁下的域名、登入时间、登入内容和浏览器类别。如果阁下选择不提供所需资料，KVB昆仑国际未必可以向阁下提供投资、交易或相关服务。阁下的资料可用于日常运作以便提供服务、以及处理阁下的帐户、复检阁下持续的需要、改善客户服务和加强针对现有和具潜质客户所提供的产品、推广和宣传投资、交易或相关服务和产品、以及给予跟阁下有关的持续资讯或机遇。KVB昆仑国际采取合理措施以保障阁下的资料免受第三者的非法登入或使用。视乎业务运作和有关产品和服务，KVB昆仑国际可能需要把阁下的资料披露给：
			div.row
				p.description.col-md-12
					| (a) KVB昆仑国际的任何代理或第三方的服务供应商
					br
					| (b) KVB昆仑国际里的关连或联营公司，其经已承诺把该等资料保密
					br
					| (c) 跟阁下做交易的任何人士或机构
					br
					| (d) 信贷汇报或参考的代理
					br
					| (e) KVB昆仑国际业务相关或予以监管的法庭、审裁处和任何法定机构或交易所
	+contactArea
