extends layout-jp

include helpers/mixins
include helpers/mixins-jp

block content
	+banner(`${imgPath}/privacy/policy-herobanner.jpg`, '免責事項・個人情報取り扱い方針')
	section.section
		div.container
			+styledHeading('免責事項', false)
			div.row
				p.description.col-md-12
					| KVB Kunlun Global Capital Limited は、KVB Global Markets Ltd、KVB Global Markets Pty Ltd、KVB Kunlun Canada Inc、KVB Kunlun Trading (Hong Kong) Ltd、KVB Capital Markets Limitedなどの子会社を傘下に収めています。当社KVB Kunlun Global Capital Limited は、その事業を展開する各国でマネーロンダリング防止法規の順守目的で顧客の個人情報を収集します。また当社は、ニュージーランド個人情報保護法(1993)、オーストラリア個人情報保護法(1998)、カナダ個人情報保護・電子文書作成法、諸種の地方規則の制約を受け、如何なる個人情報も本人の書面による承諾なくして第三者に開示することはありません。但し、顧客に対する契約上の義務を果たすために必要な場合、当社の事業遂行に必要な場合、監督当局・法執行機関その他の政府機関より要請された場合は、この限りではありません。当社のウェブサイトについては、その正確性・信頼性・網羅性に関し何らの保証も致しません。なお、本文書の提示が書面であれ口頭であれ、金融・投資に関する助言・勧誘、あるいは何らかの金融商品または金融サービスの購入を薦めるものと解釈することは出来ません。本文書は、個々の顧客の投資目的・経済状況・ニーズ・経験・損失許容限度を考慮せずに作成されたものです。証券取引、レバレッジ使用の外国為替取引、CFDその他の金融派生商品の取引により損失を被るリスクは甚大で、顧客の当初投資金を超える恐れがあります。顧客は、自己の投資目的・経済状況・ニーズに鑑み、個々の金融商品が自分にとって適切なものであるかを熟慮し、必要に応じて専門家の助言を求められるよう勧めます。当社の各支社は、すべての金融商品・金融サービスを提供しているとは限りません。詳細は、当社のサービス窓口にお問い合わせください。
	section.section.section--no-top-spacing
		div.container
			+styledHeading('個人情報取り扱い方針', false)
			div.row
				p.description.col-md-12
					| KVBは社の方針として、個人情報の機密性と秘匿性を重視します。本個人情報取り扱い方針は、顧客が本ウェブサイトにアクセスした際に、KVBが個人情報を取り扱う方法を定めます。KVBは、顧客に金融サービスを提供し顧客の満足を得るために、時に応じて特定の情報を取得することを義務付けられています。当該情報を例示すれば、顧客の氏名・誕生日・住所・メールアドレス・電話番号・身分証明書番号等、所得・雇用関連情報等となりますが、これに限りません。KVBのインターネット・サービスプロバイダーも、顧客が本ウェブサイトにアクセスした時点で個人情報を取得することがあります。当該情報を例示すれば、顧客のドメイン名・アクセス時刻、アクセスを求めた事項、ブラウザータイプとなりますが、これに限りません。KVBは、顧客から情報を頂けない場合には、投資・取引その他関連サービスを提供できないことがあります。顧客の個人情報は、当社が顧客に提供する日常サービス、顧客アカウントの管理、最新の顧客ニーズの精査、現在及び将来の顧客に提供するサービスと商品の改善と強化、投資・取引の執行、関連サービス及び商品の販売促進と勧誘、顧客にとって重要と思われる情報の提供の目的に限り使用されることがあります。KVBは、顧客の個人情報に対し第三者が不正なアクセスを行ったり使用したりすることがないよう妥当な措置を取ります。KVBは、事業運営・商品・サービスの内容により、顧客の個人情報を下記に開示することを義務付けられることがあります。
			div.row
				p.description.col-md-12
					| (a) KVBの代理店あるいは第三者サービスプロバイダー
					br
					| (b) KVB傘下の関連会社あるいは子会社で当該情報の機密性の維持を実行できる者
					br
					| (c )顧客が取引しているか取引を申し出ている相手先の個人あるいは機関
					br
					| (d) クレジット報告機関及びクレジット記録機関 
					br
					| (e) KVB等に関連するか、これを規制する裁判所・法廷その他の司法当局あるいは証券取引所
	+contactArea--jp
