extends layout-en

include helpers/mixins
include helpers/mixins-en

block content
	+banner(`${imgPath}/privacy/policy-herobanner.jpg`, 'Disclaimer & Privacy Statement')
	section.section
		div.container
			+styledHeading('Disclaimer', false)
			div.row
				p.description.col-md-12
					| KVB Kunlun Global Capital Limited has subsidiaries including KVB Global Markets Ltd, KVB Global Markets Pty Ltd, KVB Kunlun Canada Inc., KVB Kunlun Trading (Hong Kong) Ltd, and KVB Capital Markets Limited. KVB Kunlun Global Capital Limited gathers customer background information for the purpose of fulling anti-money laundering laws and regulations at its respective country of operations. We are also bound to New Zealand Privacy Act (1993), Australian Privacy Act (1998), Canadian Personal Information Protection and Electronic Documentation Act, as well as other provincial regulations for not disclosing any of your information to any third party without your written consent, except for fulfilling our contractual obligations to you, carrying out business operations, and by request from regulator, law-enforcement agency and other government bodies. No warranty is made to the contents of this website as to the accuracy, reliability or completeness and this {document/presentation] is not to be construed as financial or investment advice or a solicitation or an offer to acquire any financial products or services. It was prepared without taking into account your individual objectives, financial situation, needs, experience or capacity to bear loss. The risk of loss in securities trading and leveraged foreign exchange, CFD’s and other derivatives trading can be substantial and result in losses that exceed your initial deposit. You should consider whether it is appropriate to you, having regard to your objectives, financial situations and needs and if necessary, seek appropriate professional advice. Not all of the products and services are offered each at our subsidiaries. Please contact our customer service representative for more information.
	section.section.section--no-top-spacing
		div.container
			+styledHeading('Privacy Statement', false)
			div.row
				p.description.col-md-12
					| It is KVB’s policy to respect confidentiality and privacy of individuals. This Privacy Statement sets out the ways KVB managing your information upon your access to this website. KVB is required to collect certain information in order to provide financial services and satisfy your needs in customer services from time to time. The requested information may include but not limited to your name, date of birth, address, email address, telephone number, identification document particulars, income and employment details, etc. The internet service provider of KVB may also record your information upon your access to this website including but not limited to your domain name, time of access, contents you access to and type of browser. If you choose not to supply information as requested, KVB may not be able to provide investment, dealing or related services to you. Your information may be used for the purpose of daily operation of the service provided to you, as well as managing your account, reviewing your ongoing needs, improving and enhancing customer service and products to be provided to both existing and potential customers, promoting and marketing investment, dealing or related services and products, and giving ongoing information or opportunities that may be relevant to you. KVB will take reasonable steps to protect your information from unauthorized access or use by third parties. Depending on the business operation and product and services concerned, KVB may be required to disclose your information to:
			div.row
				p.description.col-md-12
					| (a) any agent or third party service provider of KVB;
					br
					| (b) associated or affiliated companies within KVB which has undertaken to keep such information confidential;
					br
					| (c) any person or institution with which you have or propose to have dealings;
					br
					| (d) credit reporting or reference agencies;(e) courts, tribunals and any regulatory au
					br
					| (e) courts, tribunals and any regulatory authorities or exchanges which relate to or govern any business of KVB, etc.
					br
					| Should you require a copy of privacy statement from each of the business entities operated under KVB, please contact our customer service representative.
	+contactArea--en
