.advantage__block {
	display: inline-block;
	font-size: 0;
	@media (--below-tablet) {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& .icon {
		display: inline-block;
		height: 96px;
		width: 96px;
		margin-right: 24px;
		vertical-align: middle;
		@media (--below-small) {
			vertical-align: top;
			height: 48px;
			width: 48px;
		}
	}
	& .advantage__block--right {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 120px);
		@media (--below-small) {
			vertical-align: top;
			width: calc(100% - 72px);
		}
	}
	& .advantage__title {
		font-size: 18px;
		letter-spacing: 1px;
		margin-bottom: 16px;
		@media (--below-tablet) {
			margin-bottom: 8px;
		}
	}
	& .advantage__des {
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 1.8em;
	}
}
.global-customer__outline {
	position: relative;
}
.customer-diagram__background {
	background-size: cover;
	background-position: center;
	& img {
		box-shadow: 0 2px 17px 0 rgba(0,0,0,0.19);
	}
}

.global-customer__wrap {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
		font-size: 0;
	}
	@media (--below-tablet) {
		margin-bottom: 24px;
	}
	&:nth-child(2n) {
		& .global-customer__block {
			background-color: var(--blue);
			&:after {
				left: -25px;
				border-top-color: var(--blue);
				@media (--below-tablet) {
					left: -16px;
				}
			}
		}
	}
	&:nth-child(2n+1) {
		& .global-customer__block {
			background-color: var(--green-darker);
			&:after {
				right: -25px;
				border-top-color: var(--green-darker);
				@media (--below-tablet) {
					right: -16px;
				}
			}
		}
	}
}

.global-customer__background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.global-customer__block {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 40px 56px;
	box-shadow: 0 2px 17px 0 rgba(0,0,0,0.19);
	width: 60%;
	&:after {
		border: solid transparent;
		content: '';
		top: 0;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-width: 25px;
		border-color: rgba(136, 183, 213, 0);
	}
	@media (--below-tablet) {
		width: 100%;
		padding: 24px;

		&::after {
			display: none;
		}
	}
}

.global-customer__img {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	@media (--below-tablet) {
		display: none;
	}
}

.global-customer__block--title {
	font-size: 18px;
	letter-spacing: 1px;
	color: white;
	margin-bottom: 16px;
	@media (--below-tablet) {
		margin-bottom: 8px;
	}
}
.global-customer__block--des {
	color: white;
	font-family: "Roboto Condensed";
	font-size: 16px;
	line-height: 1.4em;
}
 {
	& .advantage__block {
		vertical-align: top;
		& .icon {
			vertical-align: top;
		}
		& .advantage__block--right {
			vertical-align: top;
		}
	}
}
