.dropdown-toggle {
	position: relative;
	text-align: left;
	font-weight: var(--font-light);
	letter-spacing: 2px;

	& .caret {
		position: absolute 50% 16px false false;
		width: 24px;
		height: 24px;
		border-width: 0;
		transform: translateY(-50%);
	}

	&.simple {
		border-width: 0 0 1px;
		padding-left: 0;
		padding-right: 0;

		& .caret {
			right: 0;
		}

		& + .dropdown-menu {
			min-width: auto;
			width: 100%;
			margin-top: -1px;
		}
	}

	&:hover,
	&:active,
	&:focus {
		box-shadow: none;
		outline: none !important;
	}

	@media (--below-tablet) {
		& .caret {
			width: 16px;
			height: 16px;
		}
	}
}

.dropdown-menu {
	min-width: 224px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 0;
	& .divider {
		margin: 0 24px;
	}

	& > li > a {
		position: relative;
		padding: 12px 16px;
		color: var(--black);
		font-size: 16px;
		font-weight: var(--font-light);
		letter-spacing: 4px;
		cursor: pointer;
	}
	& > li > button {
		width: 100%;
		text-align: left;
		position: relative;
		padding: 12px 16px;
		color: var(--black);
		font-size: 16px;
		font-weight: var(--font-light);
		letter-spacing: 4px;
		cursor: pointer;
	}
	& li {
		padding: 0;
		border-bottom: 1px solid var(--gray-dark);
		&:last-child {
			border-bottom: none;
		}
	}
}

.mobile-tabs {
	background-color: var(--gray);
	&.mobile-tabs--white {
		background-color: white;
	}
	&.mobile-tabs--gray-dark {
		background-color: var(--gray-dark);
	}
	& .contact-form__selected {
		color: var(--blue);
	}

	& .dropdown-toggle {
		border-bottom-width: 0;
		padding: 24px 16px;
		color: var(--blue);
		font-size: 16px;
		font-weight: var(--font-normal);
		&.simple .caret {
			right: 16px;
		}
	}

	& .icon {
		fill: var(--blue);
	}
}

/*EN-site*/
.en-site {
	& .dropdown {
		& .btn {
			white-space: normal;
		}
		& a {
			white-space: normal;
		}
	}
}

/*JP-site*/
.jp-site {
	& .dropdown {
		& .btn {
			white-space: normal;
		}
		& a {
			white-space: normal;
		}
	}
}
