.total-result {
	color: var(--blue);
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 8px;
	& strong {
		padding: 0 12px;
		font-weight: var(--font-normal);
		font-size: 24px;
	}

	@media (max-width: 450px) {
		font-size: 16px;

		& strong {
			padding: 0 8px;
			font-size: 20px;
		}
	}
}
